# ---
# Binaries
bin/pretty-make

# ---
# Config not to save
#
# beets
*.pickle

# QuodLibet
# Folders
quodlibet.symlink/lists
quodlibet.symlink/playlists
# Files
quodlibet.symlink/accels
quodlibet.symlink/control
quodlibet.symlink/current
quodlibet.symlink/feeds
quodlibet.symlink/queries
quodlibet.symlink/queue
quodlibet.symlink/songs

# Sublime Merge and Sublime Text
*.cache
*.last-run
*.merged-ca-bundle
*.user-ca-bundle

# ---
# macOS stuff
.DS_Store
