# Requirements file for pip
# See https://pip.pypa.io/en/stable/user_guide/#requirements-files

# beets https://beets.readthedocs.io
beets

# Dependencies for beets plugins
#
# Chromaprint and Acoustid for Python https://github.com/beetbox/pyacoustid
# (Chromaprint/Acoustid dependency)
pyacoustid

# Requests https://requests.readthedocs.io
# (FetchArt dependency)
requests
